{
	"extends": "airbnb",
	"rules": {
		"react/jsx-filename-extension": "off",
		"no-use-before-define": "off",
		"react/prop-types": "off",
		"no-tabs": "off",
		"no-console": "off",
		"prefer-template": "off",
		"class-methods-use-this": "off",
		"import/no-extraneous-dependencies": "off",
		"indent": [
			"error",
			"tab"
		],
		"react/jsx-indent": [
			"error",
			"tab"
		],
		"react/jsx-indent-props": [
			"error",
			"tab"
		]
	}
}