@import "~bulma";

.nav svg {
	width: 35px;
	height: 35px;
}

.is-home {
	font-size: 18px;
}

// OrderableListView styles
.orderable-list-header {
	display: flex;
	align-items: center;
	padding-bottom: 0.5em;
}

.orderable-list-title {
	flex: 1;
	font-size: $size-5;
}

.orderable-list-body .icon {
	color: $text;
}

.orderable-list-left {
	flex: 1;
}

// Grid settings
$gutter: 40px;

.block {
	padding: $gutter / 2;
	margin: 0 !important;
	box-sizing: border-box;
}

.block-container {
	padding: $gutter / 2;

	display: flex;
	flex-wrap: wrap;

	background-color: $background;
}

// Forms
fieldset {
	border: none;
}

input {
	@extend .input;
}

.btn {
	@extend .button;
}

.btn-info {
	@extend .is-info;
}

.form-row {
	margin-bottom: 1em;
}

.form-title {
	font-size: $size-5;
}

.label:first-child {
	margin-top: 1em;
}

.form-help {
	position: relative;
	padding-left: 5px;
}

.form-help .icon {
	height: 1em;
	width: 1em;
}

.form-help .help-message {
	display: none;
}

.form-help:hover .help-message {
	display: block;
	position: absolute;
    left: -140px;
    bottom: 110%;
    z-index: 2;
    width: 300px;
    text-align: left;
	font-weight: normal;
}